.dropdown {
  display: inline-block;
}

.dropdown button {
  background-color: hsl(0, 0%, 80%);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 26%);
  min-width: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
}

.dropdown:hover .content {
  display: block;
}

.dropdown:hover button {
  background-color: hsl(0, 0%, 70%);
}

.content > a:hover {
  background-color: hsl(0, 0%, 70%);
}